* {
  margin: 0;
  padding:0;
  box-sizing: content-box;
}

#tableDeJeu {
  background-color: rgb(0, 88, 88);
  margin : 3em;
  padding: 1.5em;
  margin-bottom: 0.5em;
  border-radius: 0.8em;
  /* height : 30em; */
  border: 2px solid rgb(0, 49, 49);
  display:flex;
  flex-direction: column;
  
}


.de {
  height : 3em;
  width : 3em;
  background-color: beige;
  color: black;
  border-radius: 0.5em;
  margin: 0.3em;
  margin-top: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0.1em 0.1em 0.12em black)
  

}



#title421 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  color : white;
  text-align: center; 
  
  background-color: brown;
  height: 1.5em;
}

#playzone{
  background-color: bisque;
  display:flex;
  flex-direction: column;
  padding: 1em;
  height : 100%
}
#topInfo{
  flex-direction: row;
  text-align: center;
}

#pot{
  display:none;
  flex-basis: 50%;
  height: 2em;
  
  
}

#phase{
  flex-basis: 50%;
  height: 2em;
  background-color: blueviolet;
  text-align: center;
}

body {
  background-color: teal;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#resultat {
  font-size : 3em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  display:flex;
  justify-content: center;
}

#zoneCentrale {
  background-color: chocolate;
  height: 100%;
}


#lanceDe {
  margin-top: 1em;
  width : 8em;
  height : 2.5em;
  font-size: 0.9em;
  align-self: flex-end;
  
  
  
}

#footer {
  color : white;
  text-align: center;
}